<section id="blog" class="fids">
  <div class="container fids__container">
    <h2 class="fids__title title">
      What our happy client say
    </h2>
    <p class="fids__descr">
      Several selected clients, who already believe in our service.
    </p>
    <div class="fids__content">
      <div class="fids__carusel">
        <div class="swiper fids-swiper">
          <div class="swiper-wrapper fids-swiper__wrapper">
            <div class="swiper-slide fids-swiper__slide" data-hash="slide1">
              <div class="fids-swiper__image-container">
                <picture>
                  <source srcset="img/man1.avif" type="image/avif">
                  <source srcset="img/man1.webp" type="image/webp">
                  <img loading="lazy" src="img/man1.jpg" class="fids-swiper__img" alt="man">
                </picture>
              </div>
              <div class="fids-swiper__block-text">
                <h3 class="fids-swiper__title">
                  Matthew Paul
                </h3>
                <p class="fids-swiper__descr">
                  Perfect, very good job! Thank you for the amazing design and work. Really impressed with the high quality and quick turnaround time. Highly recommend.
                </p>
              </div>
            </div>
            <div class="swiper-slide fids-swiper__slide" data-hash="slide2">
              <div class="fids-swiper__image-container">
                <picture>
                  <source srcset="img/man2.avif" type="image/avif">
                  <source srcset="img/man2.webp" type="image/webp">
                  <img loading="lazy" src="img/man2.jpg" class="fids-swiper__img" alt="man">
                </picture>
              </div>
              <div class="fids-swiper__block-text">
                <h3 class="fids-swiper__title">
                  Matthew Paul
                </h3>
                <p class="fids-swiper__descr">
                  Perfect, very good job! Thank you for the amazing design and work. Really impressed with the high quality and quick turnaround time. Highly recommend.
                </p>
              </div>
            </div>
            <div class="swiper-slide fids-swiper__slide" data-hash="slide3">
              <div class="fids-swiper__image-container">
                <picture>
                  <source srcset="img/man3.avif" type="image/avif">
                  <source srcset="img/man3.webp" type="image/webp">
                  <img loading="lazy" src="img/man3.jpg" class="fids-swiper__img" alt="man">
                </picture>
              </div>
              <div class="fids-swiper__block-text">
                <h3 class="fids-swiper__title">
                  Matthew Paul
                </h3>
                <p class="fids-swiper__descr">
                  Perfect, very good job! Thank you for the amazing design and work. Really impressed with the high quality and quick turnaround time. Highly recommend.
                </p>
              </div>
            </div>
            <div class="swiper-slide fids-swiper__slide" data-hash="slide4">
              <div class="fids-swiper__image-container">
                <picture>
                  <source srcset="img/man4.avif" type="image/avif">
                  <source srcset="img/man4.webp" type="image/webp">
                  <img loading="lazy" src="img/man4.jpg" class="fids-swiper__img" alt="man">
                </picture>
              </div>
              <div class="fids-swiper__block-text">
                <h3 class="fids-swiper__title">
                  Matthew Paul
                </h3>
                <p class="fids-swiper__descr">
                  Perfect, very good job! Thank you for the amazing design and work. Really impressed with the high quality and quick turnaround time. Highly recommend.
                </p>
              </div>
            </div>
            <div class="swiper-slide fids-swiper__slide" data-hash="slide5">
              <div class="fids-swiper__image-container">
                <picture>
                  <source srcset="img/man5.avif" type="image/avif">
                  <source srcset="img/man5.webp" type="image/webp">
                  <img loading="lazy" src="img/man5.jpg" class="fids-swiper__img" alt="man">
                </picture>
              </div>
              <div class="fids-swiper__block-text">
                <h3 class="fids-swiper__title">
                  Matthew Paul
                </h3>
                <p class="fids-swiper__descr">
                  Perfect, very good job! Thank you for the amazing design and work. Really impressed with the high quality and quick turnaround time. Highly recommend.
                </p>
              </div>
            </div>
            <div class="swiper-slide fids-swiper__slide" data-hash="slide6">
              <div class="fids-swiper__image-container">
                <picture>
                  <source srcset="img/man6.avif" type="image/avif">
                  <source srcset="img/man6.webp" type="image/webp">
                  <img loading="lazy" src="img/man6.jpg" class="fids-swiper__img" alt="man">
                </picture>
              </div>
              <div class="fids-swiper__block-text">
                <h3 class="fids-swiper__title">
                  Matthew Paul
                </h3>
                <p class="fids-swiper__descr">
                  Perfect, very good job! Thank you for the amazing design and work. Really impressed with the high quality and quick turnaround time. Highly recommend.
                </p>
              </div>
            </div>
            <div class="swiper-slide fids-swiper__slide" data-hash="slide7">
              <div class="fids-swiper__image-container">
                <picture>
                  <source srcset="img/woman.avif" type="image/avif">
                  <source srcset="img/woman.webp" type="image/webp">
                  <img loading="lazy" src="img/woman.jpg" class="fids-swiper__img" alt="man">
                </picture>
              </div>
              <div class="fids-swiper__block-text">
                <h3 class="fids-swiper__title">
                  Matthew Paul
                </h3>
                <p class="fids-swiper__descr">
                  Perfect, very good job! Thank you for the amazing design and work. Really impressed with the high quality and quick turnaround time. Highly recommend.
                </p>
              </div>
            </div>
            <div class="swiper-slide fids-swiper__slide" data-hash="slide8">
              <div class="fids-swiper__image-container">
                <picture>
                  <source srcset="img/woman1.avif" type="image/avif">
                  <source srcset="img/woman1.webp" type="image/webp">
                  <img loading="lazy" src="img/woman1.jpg" class="fids-swiper__img" alt="man">
                </picture>
              </div>
              <div class="fids-swiper__block-text">
                <h3 class="fids-swiper__title">
                  Matthew Paul
                </h3>
                <p class="fids-swiper__descr">
                  Perfect, very good job! Thank you for the amazing design and work. Really impressed with the high quality and quick turnaround time. Highly recommend.
                </p>
              </div>
            </div>
  
          </div>
          <div class="fids-swiper-pagination swiper-pagination"></div>
        </div>
      </div>
      <div class="fids-controller">
        <button class="fids-controller__btn fids-controller__btn--1" data-control="slide1">
          <picture>
            <source srcset="img/man1.avif" type="image/avif">
            <source srcset="img/man1.webp" type="image/webp">
            <img loading="lazy" src="img/man1.jpg" class="" alt="man">
          </picture>
        </button>
        <button class="fids-controller__btn fids-controller__btn--2" data-control="slide2">
          <picture>
            <source srcset="img/man2.avif" type="image/avif">
            <source srcset="img/man2.webp" type="image/webp">
            <img loading="lazy" src="img/man2.jpg" class="" alt="man">
          </picture>
        </button>
        <button class="fids-controller__btn fids-controller__btn--3" data-control="slide3">
          <picture>
            <source srcset="img/man3.avif" type="image/avif">
            <source srcset="img/man3.webp" type="image/webp">
            <img loading="lazy" src="img/man3.jpg" class="" alt="man">
          </picture>
        </button>
        <button class="fids-controller__btn fids-controller__btn--4" data-control="slide4">
          <picture>
            <source srcset="img/man4.avif" type="image/avif">
            <source srcset="img/man4.webp" type="image/webp">
            <img loading="lazy" src="img/man4.jpg" class="" alt="man">
          </picture>
        </button>
        <button class="fids-controller__btn fids-controller__btn--5" data-control="slide5">
          <picture>
            <source srcset="img/man5.avif" type="image/avif">
            <source srcset="img/man5.webp" type="image/webp">
            <img loading="lazy" src="img/man5.jpg" class="" alt="man">
          </picture>
        </button>
        <button class="fids-controller__btn fids-controller__btn--6" data-control="slide6">
          <picture>
            <source srcset="img/man6.avif" type="image/avif">
            <source srcset="img/man6.webp" type="image/webp">
            <img loading="lazy" src="img/man6.jpg" class="" alt="man">
          </picture>
        </button>
        <button class="fids-controller__btn fids-controller__btn--7" data-control="slide7">
          <picture>
            <source srcset="img/woman.avif" type="image/avif">
            <source srcset="img/woman.webp" type="image/webp">
            <img loading="lazy" src="img/woman.jpg" class="" alt="man">
          </picture>
        </button>
        <button class="fids-controller__btn fids-controller__btn--8" data-control="slide8">
          <picture>
            <source srcset="img/woman1.avif" type="image/avif">
            <source srcset="img/woman1.webp" type="image/webp">
            <img loading="lazy" src="img/woman1.jpg" class="" alt="man">
          </picture>
        </button>
  
      </div>
    </div>
  </div>
</section>