<section id="contact" class="form">
  <div class="container form__container">
    <form id="form" class="form__form-container form">
      <div class="form__text">
        <h2 class="form__title title">
          Subscribe Newsletter
        </h2>
        <p class="form__subtitle">
          I will update good news and promotion service not spam
        </p>
      </div>
      <div class="form__input-container">
        <input id="email" type="email" class="form__input" autocomplete="false" placeholder="Enter your email address..">
        <button class="form__btn btn">
          Contact Now
        </button>
      </div>
    </form>
  </div>
</section>