<header class="header">
  <div class="container header__container">
    <span class="header__logo-container">
      <span class="header__logo-first-letter">
        A+
      </span>
      Studio
    </span>
    <nav class="header__navigation nav">
      <button class="nav__burger burger-menu">
        <span class="burger-menu__line"></span>
        <span class="burger-menu__line"></span>
        <span class="burger-menu__line"></span>
      </button>
      <ul class="nav__list">
        <li class="nav__element">
          <a href="#home" class="nav__link">
            Home
          </a>
        </li>
        <li class="nav__element">
          <a href="#do" class="nav__link">
            What We Do
          </a>
        </li>
        <li class="nav__element">
          <a href="#service" class="nav__link">
            Service
          </a>
        </li>
        <li class="nav__element">
          <a href="#do" class="nav__link">
            Project
          </a>
        </li>
        <li class="nav__element">
          <a href="#blog" class="nav__link">
            Blog
          </a>
        </li>
        <li class="nav__element">
          <a href="#contact" class="nav__link">
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div id="home" class="header__hero hero">
    <div class="hero__left">
      <h1 class="hero__title title">
        A Digital Product Agency
      </h1>
      <p class="hero__text">
        Leading digital agency with solid design and development expertise. We build readymade websites, mobile applications, and elaborate online business services.
      </p>
      <button type="button" class="hero__btn btn">
        Contact Now
      </button>
    </div>
    <div class="hero__right">
      <picture>
        <source srcset="img/hero-img.avif" type="image/avif">
        <source srcset="img/hero-img.webp" type="image/webp">
        <img loading="lazy" src="img/hero-img.jpg" class="hero__img" alt="main image">
      </picture>
    </div>
  </div>
  
</header>
