<section id="do" class="product">
  <div class="container product__container">
    <div class="product__text">
      <h2 class="product__title title">
        How can we help your Business ?
      </h2>
      <p class="product__descr">
        We build readymade websites, mobile applications, and elaborate online business services.
      </p>
    </div>
    <div class="product__grid">
      <div class="card-grid product__grid--1">
        <span class="card-grid__icon-container box-search">
          <svg class="icon-box">
            <use xlink:href="img/sprite.svg#box-search"></use>
          </svg>
        </span>
        <h3 class="card-grid__title">
          Business Idea Planning
        </h3>
        <p class="card-grid__descr">
          We present you a proposal and discuss niffty-gritty like
        </p>
      </div>
      <div class="card-grid product__grid--2">
        <span class="card-grid__icon-container wallet">
          <svg class="icon-box">
            <use xlink:href="img/sprite.svg#wallet"></use>
          </svg>
        </span>
        <h3 class="card-grid__title">
          Financial Planning System
        </h3>
        <p class="card-grid__descr">
          Protocols apart from aengage models, pricing billing
        </p>
      </div>
      <div class="card-grid product__grid--3">
        <span class="card-grid__icon-container code">
          <svg class="icon-box">
            <use xlink:href="img/sprite.svg#code"></use>
          </svg>
        </span>
        <h3 class="card-grid__title">
          Development Website and App
        </h3>
        <p class="card-grid__descr">
          Communication protocols apart from engagement models
        </p>
      </div>
      <div class="card-grid product__grid--4">
        <span class="card-grid__icon-container chart">
          <svg class="icon-box">
            <use xlink:href="img/sprite.svg#chart"></use>
          </svg>
        </span>
        <h3 class="card-grid__title">
          Market Analysis Project
        </h3>
        <p class="card-grid__descr">
          Protocols apart from aengage models, pricing billing
        </p>
      </div>
    </div>
    <span class="product__dots"></span>
    <span class="product__light-square"></span>
    <span class="product__light-round"></span>
  </div>
  <span class="product__blue-square"></span>
</section>
<section id="service" class="product-2">
  <div class="container product-2__container">
    <div class="product-2__img-container">
      <picture>
        <source srcset="img/great-digital-section-img.avif" type="image/avif">
        <source srcset="img/great-digital-section-img.webp" type="image/webp">
        <img loading="lazy" src="img/great-digital-section-img.jpg" class="product-2__img" alt="img">
      </picture>
    </div>
    <div class="product-2__text">
      <h2 class="product-2__title title">
        Great Digital Product Agency since 2016 
      </h2>
      <p class="product-2__descr">
        Our Business Plan is a written document describing a company's core business activites, Objectives, and how it plans to achieve its goals. Our goal is to provide our client high quality Product with modern idea accordingly their budgets and according thir reuirements.
      </p>
    </div>
  </div>
</section>